.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.destop-menu {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.destop-menu .options {
    display: flex;
}

.destop-menu .options p {
    margin-left: 12px;
}